 /** Flag Shape **/
 .vertical-flag {
    display: flex;
    justify-content: space-evenly;
  }
  .horizontal-flag {
    display: flex; 
    flex-direction: column;
  }
  div {
    border: 1px solid black;
    margin: 10px;
    width: 400px;
    height: 200px;
  }
  p {
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  /** Color Classes **/
  .red {
    background-color: red;
  }
  .white {
    background-color: white;
  }
  .blue {
    background-color: blue;
  }
  .black{
    background-color: black;
  }
  .yellow{
    background-color: yellow;
  }
  .tan{
      background-color: khaki;
  }
  